

  html,
  body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

  .box {
    width: 100vw; //vwは画面幅に対する相対値
    height: 100vh; //vhは画面高さに対する相対値
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bg-ttl {
    color: #fff;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}

   
