@font-face {
    font-family: 'Futura Medium';
    src: url(./fonts/Futura-Bol.ttf);
}

@font-face {
    font-family: 'Futura Light';
    src: url(./fonts/Futura-Dem.ttf);
}

@font-face {
    font-family: 'Futura yoko';
    src: url(./fonts/Futura-MedObl.ttf);
}

html {
    background-color: #fff;

}

* {
    margin: 0;
    padding: 0;
}

#main {
    background-image: url(images/hero.jpg);
    background-size: cover;
    height: cover;
    background-position: center center;
    background-repeat: no-repeat;

    height: 100vh;
    position: relative;



}

.container_main {
    min-width: 1000px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80%;
    height: 25.2rem;
}

h2 {
    font-family: 'Futura Medium';
    color: #3D5CDB;

    font-size: 76px;
    margin: 60px auto;
    text-align: center;
}

h1 {
    font-family: 'Futura yoko';
    text-align: center;
    color: white;
    font-size: 70px;
    margin-top: 40px;
}
#main{
    
}
#main img {
    width: 1110px;
    background-position: center center;
    background-repeat: no-repeat;


} 

.logo_img {

    text-align: center;

}

nav {
    overflow: hidden;
    font-family: 'Futura Light';
    padding-right: 70px;
    padding-top: 50px;


}

nav li {
    list-style-type: none;
    float: right;
   
    font-size: 36px;
    margin-right: 30px;
}

nav a {
    display: block;

    
    text-decoration: none;
    

}

li:hover {
    color: #3D5CDB;
}

.intro_img img {
    width: 650px;
    float: left;

}

.right-box {

    overflow: hidden;


}

.content1 {

    width: 1374px;
    margin: 0 auto;
    margin-bottom: 110px;
}

.content2 {}

.left-box {

    width: 1316px;
    margin: 0 auto;
   
    overflow: hidden;

}

.bun_R {
    float: left;
    width: 600px;
    margin-left: 110px;
    margin-top: 30px;

}

.text {
    margin: 0 auto;
color: #333333;
    

}

.bun_L {
    float: left;

}

@Mixin.botton1{
    text-align: center;
    width: 600px;
    margin-left: 150px;

    font-size: 28px;
    
    background-color: #3D5CDB;
    
    padding: 10px 53px;
    border-radius: 12px;
    margin-top: 40px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
    font-weight:bolder;
    

}
.botton2{
   @import .bottton1;
background-color: #FFBF00;
}
@Mixin.botton1:hover{
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
  
}
.botton2:hover{
   @import .botton1:hover; 
  
}

.right_botton {
    margin-top: 30px;

}
.left_botton {
    margin-top: 45px;
      

}

.text p {
    font-size: 20px;
    font-family: 'ヒラギノ角ゴ Pro W3';
    line-height: 40px;
}

.bun_L .text {
    padding-right: 83px;
    padding-top: 30px;
}

 .botton1 a{
    font-family: 'ヒラギノ角ゴ Pro W6';
    color: aqua;
    font-size: 100px;
}
.slider{
   margin-top: 100px;
}
#Images{
     margin-bottom: 200px;
}
.Access{
    width: 800px;
    text-align: center;
    margin: auto 0;
    
}