body{

}

.img_wrap{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_wrap img{
    height: 200px;
     filter: blur(5px);
}

.image {
  width: 250px;
  height: 166px;
  border: solid 2px #F1E6DE;
  overflow: hidden;
    

  
  }
img{
    width: 100%;
    transition: 0.8s;
      
    transition: 0.5s;
  }

img:hover{
    filter: blur(0px);

    
   -moz-transition-duration:1s;
-webkit-transition-duration:1s;
-o-transition-duration:1s;
-ms-transition-duration:1s;
    }
